/*Fonts*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-neutral: #283136;
  --basic-white: #ffffff;
  --basic-black-transparent: rgba(0,0,0,0.3);
  --basic-neutral-transparent: rgba(40, 49, 54, 0.3);
  --basic-white-transparent: rgba(255,255,255,0.3);
  --basic-gray-light: #eeeeee;
  --basic-gray: #666666;
  --basic-gray-dark: #444444;

  --basic-red-light: #fb565a;
  --basic-red: #e74246;
  --basic-red-dark: #b7373b;

  --sort-black-transparent: rgba(0,0,0,0.6);

  --svg-gray: #a6a6a6;
  --svg-gray-transparent: rgba(166, 166, 166, 0.2);
  --svg-gray-dark: #231f20;

  --social-button: #e1e1e1;

  --button-gray-light: #dfdfdf;
  --button-gray: #dbdbdb;
  --button-gray-dark: #d5d5d5;

  --button-yellow-light: #efc84a;
  --button-yellow: #eab534;
  --button-yellow-dark: #e5a722;

  --button-green-light: #00ca74;
  --button-green: #00bc6c;
  --button-green-dark: #00aa62;
}

/*Globals*/
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-neutral);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* Container */
.container {
  width: 1160px;

  margin: 0 auto;
  padding: 0 20px;
}

/*Buttons*/
.button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red-light);

  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red);
}

.button:active {
  color: var(--basic-white-transparent);
  background-color: var(--basic-red-dark);
}


.button-green {
  background-color: var(--button-green-light);
}

.button-green:hover,
.button-green:focus {
  background-color: var(--button-green);
}

.button-green:active {
  background-color: var(--button-green-dark);
}


.button-yellow {
  background-color: var(--button-yellow-light);
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--button-yellow);
}

.button-yellow:active {
  background-color: var(--button-yellow-dark);
}

.button-gray {
  color: var(--basic-black);
  background-color: var(--basic-gray-light);
}

.button-gray:hover,
.button-gray:focus {
  background-color: var(--button-gray-light);
}

.button-gray:active {
  color: var(--basic-black-transparent);
  background-color: var(--button-gray-dark);

}

/*Visually-hidden*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Features*/
.features {
  background-color: var(--basic-gray-light);
}

.features ul {
  list-style: none;
}

.feature {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

/*Header*/
.page-header {
  background-color: var(--basic-gray-light);
}

.page-header .container {
  display: flex;

  justify-content: space-between;
}

/*Navigation*/
.main-navigation {
  display: flex;

  justify-content: space-between;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}

.logo {
  width: 160px;
  height: 66px;
}

.logo[href]:active path{
  fill: var(--svg-gray);
}


.site-navigation {
  width: 640px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  max-width: 200px;
}

.user-navigation a {
  padding-left: 50px;
}

.site-navigation a:visited,
.user-navigation a:visited,
.site-navigation a:link,
.user-navigation a:link {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-red-light);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black-transparent);
}

.site-navigation .active:active,
.site-navigation .active:hover,
.site-navigation .active:focus,
.user-navigation .active:active,
.user-navigation .active:hover,
.user-navigation .active:focus {
  color: var(--basic-black);
}

/*Products*/
.product-list {
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
}

.product-item {
  width: 300px;

  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 100px;

  text-align: left;
}

.product-item:nth-child(3n) {
  margin-right: 60px;
}

.product-item h3{
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*Info*/
.info-headline {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.caption-info-list {
  font-weight: bold;
  text-transform: uppercase;
}

.info ul {
  list-style: none;
}

.caption-info-table {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.value-info-table {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  color: var(--basic-black);
}

.value-info-table span {
  font-size: 26px;
  line-height: 40px;
}

.description-info-table {
  line-height: 18px;
}

/*Partners*/
.partners ul {
  list-style: none;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover,
.partners a:active {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

/*Contacts*/
.contacts p {
  line-height: 18px;
  color: var(--basic-gray);
}

.contacts span {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.telephone:link,
.telephone:visited {
  color: var(--basic-gray);
}

/*Title*/
.page-title-wrapper {
  background-color: var(--basic-gray-light);

  border-top: 1px solid var(--basic-gray-light);
  border-bottom: 1px solid var(--basic-gray-light);
}

.page-title {
  margin-top: 71px;
  margin-bottom: 107px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);

  text-align: center;
}

/*Catalog-grid*/
.catalog-wrapper {
  display: grid;

  grid-template-columns: 260px 1fr;
}

/*Filters*/
.filters-form fieldset {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  border: none;
}

.filters-form legend {
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filters-form ul {
  margin: 0;
  padding: 0;

  line-height: 33px;
  list-style: none;
}

.cost-label {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-input-text {
  line-height: 22px;
  text-transform: uppercase;
  background-color: var(--basic-gray-light);
}

.filter-input-checkbox:disabled + label,
.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label,
.filter-input-radio:disabled + label  {
  color: var(--basic-neutral-transparent);
}

/*Templates*/
.templates {
  margin-left: 140px;
}

.templates ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

/*Templates-sort*/
.sort p {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-type {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black-transparent);
}

.sort-type:hover,
.sort-type:focus {
  color: var(--sort-black-transparent);
}

.sort-type:active,
.active-sort-type {
  color: var(--basic-black);
}

.sort-direction path {
  fill: var(--svg-gray-transparent);
}

.sort-direction:hover path,
.sort-direction:focus path {
  fill: var(--svg-gray);
}

.sort-direction:active path,
.active-sort-direction path {
  fill: var(--svg-gray-dark);
}

.templates-list {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  column-gap: 40px;
  row-gap: 30px;
}

.templates-list li {
  width: 360px;
  height: 580px;
}

.template-description {
  display: none;

  text-align: center;
  background-color: var(--basic-gray-light);
}

.template-name {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.template-name a:link,
.template-name a:visited {
  color: var(--basic-black);
}

.template-name a:hover,
.template-name a:focus {
  color: var(--basic-red-light);
}

.template-name a:active {
  color: var(--basic-black-transparent);
}

.template-description p {
  line-height: 18px;
  color: var(--basic-gray);
}

/*Templates-pagination*/
.active-page {
  background-color: var(--basic-white);
  border: 3px solid var(--button-gray);
}

/*Footer*/
.page-footer {
  display: grid;

  grid-template-columns: 260px 1fr;
}

.footer-social ul{
  list-style: none;
}

.social-button {
  background-color: var(--social-button);
}

.social-button:hover {
  background-color: var(--basic-red);
}

.social-button:active {
  background-color: var(--basic-red-dark);
}

.social-button:active path {
  fill: var(--basic-white-transparent);
}

.footer-text {
  margin-left: 140px;
}

.footer-slogan {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: var(--basic-black);
}

.page-footer p {
  line-height: 22px;
  color: var(--basic-gray-dark);
}

/*Feedback*/
.feedback {
  display: none;
}